@charset 'UTF-8';

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #f8e8f2;
}

.footer_container {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
	font-family: 'SFUIDisplay-Regular', Arial, sans-serif;
	font-size: 16px;
	line-height: 20px;
}

footer p {
	margin: 0;
}

.footer_img {
	position: absolute;
	width: 280px;
	top: -107px;
}

a.developer {
		display : block;
		z-index : 10;
		width : 140px;
		height : 36px;
		margin : 2px 0;
		background-image : url('../img/developer.svg?18092017');
		background-position : 0% 0%;
		background-repeat : no-repeat;
		background-size : cover;
		color : rgba(254, 96, 129, 1);
}

a.developer::after {
		display : block;
		position : absolute;
		bottom : -3px;
		left : 36px;
		z-index : 10;
		font : normal 12px/12px Arial, Tahoma, Verdana, sans-serif;
		content : "создание сайта";
		white-space : nowrap;
}

@media only screen and (min-width: 961px) {

	footer {
		padding: 30px 40px;
	}

	.footer_img {
		right: 21vw;
	}

	footer p {
		padding-right: 55%;
	}

	a.developer {
			position : absolute;
			top : 0;
			right : 40px;
	}
}

@media (min-width: 481px) and (max-width: 960px) {
	footer {
		padding: 20px;
	}

	footer p {
		padding-right: 55%;
	}

	.footer_img {
		right: 0;
	}
}

@media (max-width: 480px) {
	footer {
		padding: 20px;
	}

	footer p {
		padding-top: 60px;
		padding-right: 15%;
	}

	.footer_img {
		right: -30px;
	}

}
