@charset 'UTF-8';

nav {
	position: absolute;
}

nav ul {
	font: normal 18px/16px 'SFUIDisplay-Regular', Arial, sans-serif;
}

nav ul > li > a {
	color: rgba(51, 51, 51, 1);
}

nav ul > li:hover > a {
	color: rgba(254, 96, 129, 1);
}

/* ///ДЕСКТОПЫ/// */

@media only screen and (min-width: 961px) {

	nav {
		width : 100%;
	}

	nav > ul {
		max-width : 1200px;
		margin : 0 auto;
		padding : 0 200px;
	}

	nav {
		top: 50px;
	}

	nav ul > li {
		display: inline-block;
	}

	nav ul > li:not(:last-child) {
		padding-right: 55px;
	}
}

/* ///СМАРТФОНЫ И ПЛАНШЕТЫ/// */

@media (max-width: 960px) {

	nav ul {
		position: absolute;
		background-color: rgba(248, 232, 242, 1);
		top: 0;
	}

	nav.opened {
		background-color: rgba(0, 0, 0, 0.5);
		width: 100%;
		z-index: 20;
		left: 0;

	}

	nav ul {
		width: 280px;
		left: -280px;
	}

	nav.opened ul {
		left: 0;
		transition : all 0.25s;
	}
}

	/* ////ПЛАНШЕТЫ/// */

@media (min-width: 541px) and (max-width: 960px) {

		nav.opened {
			height: calc(100vh - 105px);
			top: 105px;
		}

		nav ul {
			height: calc(100vh - 105px);
		}

		nav ul > li {
			padding-left: 40px;
			padding-top: 30px;
		}
}

/* ///СМАРТФОНЫ/// */

@media (max-width: 540px) {

	nav.opened {
		height: calc(100vh - 125px);
		top: 125px;
	}

	nav ul {
		height: calc(100vh - 125px);
	}

	nav ul > li {
		padding-left: 20px;
		padding-top: 30px;
	}
}
